@import url("https://fonts.googleapis.com/css?family=Outfit:400,700");

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(218, 44%, 22%);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: auto;
  max-width: 200px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}

.card .title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.card .description {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  color: hsl(220, 15%, 55%);
  margin: 0;
  padding: 0;
}
